@font-face {
  font-family: 'Thrones';
  src: url('/assets/fonts/Thrones.ttf');
  font-display: swap;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  background: #2d2d32;
  font-family: 'avenir next', avenir, 'helvetica neue', helvetica, ubuntu,
    roboto, noto, 'segoe ui', arial, sans-serif;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4 {
  font-family: 'Thrones', 'avenir next', avenir, 'helvetica neue', helvetica,
    ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}

* {
  box-sizing: border-box;
}
